/* Importando Tipo de Fuente Externa */
@font-face {
    font-family: 'FontPoppins';
    src: url(../font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'FontPoppins';
}

body {
    min-width: 330px;
    background: 
      radial-gradient(white 3px, transparent 9px),
      radial-gradient(white 3px, transparent 4px),
      linear-gradient(#000 0, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #000;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.titulo, .titulo-prin {
    width: 100%;
    background: #0C0C0C;
    padding: 18px;
    text-align: center;
    font-size: 25px;
    color: #00aa99;
    font-weight: bold;
    border-bottom: 10px solid #ffffff;
}

.titulo-prin {
    border-bottom: none;
    padding: 18px 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 40px 0;
}

.pedido {
    align-items: baseline;
}