<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SupermercadoPiscoyaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>negocio.Articulo</class>
    <class>negocio.Detalleorden</class>
    <class>negocio.Cliente</class>
    <class>negocio.Pedido</class>
    <class>negocio.Orden</class>
    <class>negocio.Proveedor</class>
    <class>negocio.Detallepedido</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/SupermercadoPiscoya"/>
      <property name="javax.persistence.jdbc.user" value="jesus"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="piscoya"/>
    </properties>
  </persistence-unit>
</persistence>
